:root {
  --cor-background: white;
  --cor-bar: #363333;
  --cor-fonte: #ffffff;
  --cor-ativo: #4362ce;
  --cor-bar-vermelho: #e42b2b;
  --cor-bar-azul: #4362ce;
  --cor-card: #d9d9d9;
}

body {
  width: 100%;
  min-height: 100vh;

  color-scheme: dark;
  background-color: var(--cor-background);

  color: white;
  font-family: "Quicksand", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;

  width: 100%;
}
