/* NAVBAR */
.navbar {
    width: 100%;
    height: 100%;
  
    background-color: var(--cor-bar)
  }
  
  .navbar-brand>img {
    border-radius: 50%;
    width: 4.5rem;
    height: auto;
  }
  
  .custom-navbar {
    background-color: var(--cor-bar)
  }
  
  .custom-navbar .navbar-nav .nav-link {
    color: var(--cor-fonte);
    font-weight: bold;
    font-size: larger;
  }
  
  .custom-navbar .navbar-brand {
    color: var(--cor-fonte);
    ;
    font-weight: bold;
    margin-left: 1.5rem;
  }
  
  .custom-navbar .navbar-nav .nav-link.active {
    color: var(--cor-ativo);
    font-weight: bold;
    font-size: larger;
  }
  
  .navbar-nav {
    margin-right: 1.5rem;
    gap: 1rem;
  }
  
  .custom-navbar .nav-link:hover {
    color: var(--cor-ativo);
  }
  
  .custom-navbar .navbar-brand:hover {
    color: var(--cor-fonte);
  }
footer {
    background-color: #363333;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%
}
h3{
    color: rgb(255, 255, 255);
}
.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links a {
    text-decoration: none;
}

.home-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;   
    margin-right: 20px;
}

body {
    background-color: #E0E0E0;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    margin:auto;
    margin-bottom: 20rem;
    margin-top: 15rem;
    background-color: #757171;
    padding: 20px;
    border-radius: 1rem;
}

h2 {
    color: rgb(255, 255, 255);
}

form {
   display: flex;
   flex-direction: column; 
}

label, input, button {
    color: rgb(255, 255, 255);
   margin-bottom: 10px; 
}
.checkbox{
    color: #ffffff;
    cursor: pointer;
}

button {
   background-color: blue;
   color: white; 
   cursor: pointer;
}