/* NAVBAR */
.navbar {
  width: 100%;
  height: 100%;

  background-color: var(--cor-bar);
}

.navbar-brand>img {
  width: 5.5rem;
  height: auto;
  border-radius: 50%;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px 0.1px var(--cor-ativo);

}

.custom-navbar {
  background-color: var(--cor-bar)
}

.custom-navbar .navbar-nav .nav-link {
  color: var(--cor-fonte);
  font-weight: bold;
  font-size: larger;
  text-shadow: 2px 1px 8px black;
}


.custom-navbar .navbar-brand {
  color: #25ebd7;
  font-weight: bold;
  margin-left: 1.5rem;
  text-shadow: 4px 3px 6px var(--cor-ativo);
  font-family: 'Press Start 2P', cursive;
}

.custom-navbar .navbar-nav .nav-link.active {
  color: var(--cor-ativo);
  font-weight: bold;
  font-size: larger;
}

.navbar-nav {
  margin-right: 1.5rem;
  gap: 1rem;
}

.custom-navbar .nav-link:hover {
  color: var(--cor-ativo);
}

.custom-navbar .navbar-brand:hover {
  color: var(--cor-fonte);
}

/* MAIN */
.container-destaque {
  display: flex;
  flex-direction: row;
}

#lead-top {
  color: var(--cor-fonte);
  background-color: var(--cor-bar-azul);
  border-radius: 0.3rem;
  font-weight: 400;
  padding: 0.2rem;
  margin: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.main {
  padding: 1rem;
  display: flex;
  flex: wrap;
  flex-direction: row;
  justify-content: center;

}

#card-recomendados {
  transition: transform 0.3s ease;
}

#card-recomendados:hover {
  transform: scale(1.1);
}

.custom-card {
  background-color: var(--cor-card) !important;
}

.card-img-top {
  max-width: 300px;
  height: auto;
}

#card-container {
  display: flex;
  justify-content: center;
}

/* NOTICIAS */

#lead-bottom {
  color: var(--cor-fonte);
  background-color: var(--cor-bar-azul);
  border-radius: 0.3rem;
  font-weight: 400;
  padding: 0.2rem;
  margin: 1.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.custom-card-noticia {
  background-color: var(--cor-card) !important;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: left;
}

.card-text-noticia {
  margin-top: 1rem;
  margin-right: 3rem;
  text-align: left;
  align-items: center;
}

#noticia-link {
  text-decoration: none !important;
  color: var(--cor-brand-1);
}

#noticia-link:hover {
  color: var(--cor-ativo);
}

#noticia-img {
  max-width: 300px;
  height: auto;
}

/* FOOTER */
.footer {
  width: 100%;
  margin-top: 1.5rem;
  left: 0;
  bottom: 0;
}

.custom-footer {
  background-color: var(--cor-bar)
}

.footer-text {
  margin-left: 1.5rem;
  color: var(--cor-fonte);
  font-weight: bold;
  font-size: medium;
}

@media (max-width: 640px) {
  .custom-navbar .navbar-brand {
    font-size: 10px;
  }

  .custom-navbar .navbar-nav .nav-link {
    font-size: smaller;
  }

  .custom-navbar .navbar-nav .nav-link.active {
    font-size: smaller;
  }
}

@media (max-width: 900px) {
  .custom-navbar .navbar-brand {
    font-size: 20px;
  }

  .custom-navbar .navbar-nav .nav-link {
    font-size: small;
  }

  .custom-navbar .navbar-nav .nav-link.active {
    font-size: small;
  }

  .card-text-destaque {
    height: auto;
  }
}

@media (max-width: 1200px) {
  .card-text-destaque {
    height: 300px;
  }

  .card-text-noticia {
    font-size: 14px;
  }

  .card-title-noticia {
    display: flex;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .custom-navbar .navbar-brand {
    font-size: 30px;
  }

  .custom-navbar .navbar-nav .nav-link {
    font-size: larger;
  }

  .custom-navbar .navbar-nav .nav-link.active {
    font-size: larger;
  }

  .card-text-destaque {
    height: 140px;
  }
}